.equipo{
    position: relative;
    box-sizing: border-box;
    text-align: center;
    font-size: 32px;
    padding: 32px;
    width: 100%;
}

.input-color{
    position: absolute;
    top: 20px;
    right: 30px;
}

.equipo h3{
    font-weight: 400;
    color: #212121;
    border-bottom: 4px solid;
    display: inline-block;
}

.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}