.campo{
    margin: 40px 0;
    font-family: 'Montserrat', serif;
}

.campo label{
    font-family: 'Montserrat', serif;
    font-size: 18px;
    font-weight: 600;
    color: #212121;
}

.campo input{
    width: 100%;
    margin-top: 8px;
    display: block;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 30px 20px;
    outline-color: #6278F7;
    font-size: 16px;
}

.campo-color input{
    width: 20%;
    min-height: 100%;
    padding: 5px 10px;
}