.lista-opciones{
    margin: 40px 0;
}

.lista-opciones label{
    color: #212121;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', serif;
}

.lista-opciones select{
    display: block;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border: none;
    margin-top: 8px;
    outline-color: #6278F7;
    padding: 34px;
    font-size: 16px;
    width: 100%;
}